{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  {% block title %}<title >Inicio</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body">
 {% block content %}  
 <body>  
    <header>    
      <img class="logo" src="{% static 'img/Name.png' %}" alt="name">
    </header>
{% if form.errors %}
<p>Usuario o Contraseña Incorrecta. Porfavor Intenta de Nuevo.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Ya Inciaste Sección.</p>
    
    {% else %}
    <p>Porfavor Inicia Sección c:</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" id="loginbtn"/>
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}" id=lostp>Lost password?</a></p>


{% endblock %}

</body>
</html>