*{
	margin: 0;
	padding: 0;
	list-style: none;
}

body{
    
    background-color: orange;
}

@font-face{
  font-family: 'rock';
  src: url(../Fuentes/QueenInlineGrunge.ttf);
}

@font-face{
  font-family: 'fuente';
  src: url(../Fuentes/minster1.ttf);
}

#id_username{
  text-decoration: none;
  font-family: 'rock';
  font-size: 3vw;
  margin-right: 4vw;
}

label{
  text-decoration: none;
  font-family: 'fuente';
  font-size: 4vw;
  margin-right: 4vw;
}

#id_password{
  text-decoration: none;
  font-family: 'rock';
  font-size: 3vw;
  margin-right: 4vw;
}

#loginbtn{
  text-decoration: none;
  font-family: 'rock';
  font-size: 3vw;
  margin-right: 4vw;
  color: gold;
  background-color: purple;
}

#lostp{
  text-decoration: none;
  font-family: 'rock';
  font-size: 3vw;
  margin-right: 4vw;
  color: gold;
  background-color: purple;
}